@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

header {
    padding: 5px 20px 0 20px;
    margin: 0 0 10px;
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}

main {
    margin: 30px;
}

footer {
    margin: 10px;
}

body {
    margin: 0;
    font-family: Arial, serif;
    font-size: 14pt;
    background-color: rgb(222, 239, 255);
    color: #0075aa;
    line-height: 150%;
}

h1 {
    padding-left: 10px;
    font-size: 24pt;
    font-family: 'Lato', sans-serif;
}

h1, h2 {
    color: #90191a;
}

h3 {
    color: #252967;
}

.default-menu {
    flex-grow: 1;
    margin: 0;
}

.default-menu ul {
    color: #8f191b;
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style-type: none;
}

.default-menu li {
    padding-left: 5%;
}

.burger-menu li {
    list-style-type: none;
    text-decoration: none;
}

nav a {
    color: #8f191b;
    text-decoration: none;
}

.burger-menu input, .burger-menu label, .burger-menu ul {
    display: none;
}

.welcome-quote {
    font-size: 11pt;
    color: #8f191b;
    font-family: 'Roboto', sans-serif;
}

a:visited {
    color: #862d0c;
}

a:hover {
    color: crimson;
}

p {
    text-align: justify;
}

map ~ figcaption {
    font-size: 11pt;
    color: #628093;
}

.rules-quote {
    border: 5px double #ffffff;
    padding: 10px;
    width: 500px;
    text-align: center;
}

u > b {
    color: #5c1f83;
}

.rules > li {
    color: #844aa9;
}

dl dt {
    color: #252967;
}

dd i {
    color: #79c0ee;
}

.words-descriptions dd {
    display: list-item;
    list-style: square;
}

input::placeholder {
    color: #b9c2d5;
    padding-right: 3px;
    text-align: right;
}

input:focus {
    background: #f4f4ff;
}

.sign-up-forms {
    margin-right: 50px;
    display: inline-grid;
}

form input {
    margin-left: 3%;
}

form legend {
    color: #8f191b;
    font-size: 16pt;
    font-weight: bold;
}

form label {
    font-weight: bold;
}

fieldset {
    background-color: white;
}

.free-resources {
    display: flex;
    flex-direction: row;
    align-items: end;
    flex-wrap: wrap;
    justify-content: space-between;
}

aside {
    background: #ffffff;
    padding: 0 15px 0 15px;
    display: inline-flex;
    width: 400px;
    float: right;
}

.gallery {
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.gallery img {
    padding: 5px;
    height: 280px;
    width: auto;
    flex-grow: 1;
    border-radius: 3%;
}

@media screen and (max-width: 768px) {
    .default-menu {
        visibility: hidden;
    }

    aside {
        float: none;
        width: auto;
    }

    .free-resources {
        flex-direction: column;
        align-items: center;
    }

    .burger-menu label {
        font-size: 36pt;
        color: #90191a;
        display: block;
    }

    .burger-menu > label::before, .burger-menu > label::after {
        display: block;
        content: '—';
    }

    .burger-menu input:checked + label + ul {
        opacity: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        position: fixed;
        background: white;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    .burger-menu li {
        text-align: center;
        font-size: 30pt;
    }

    .burger-menu input:checked + label::after {
        display: none;
    }

    .burger-menu input:checked + label {
        z-index: 10;
        position: fixed;
        top: 30px;
        right: 30px;
        transform: rotate(45deg);
    }

    .burger-menu input:checked + label::before {
        z-index: 10;
        position: absolute;
        top: 4px;
        left: 5px;
        transform: rotate(90deg);
    }

    .gallery img {
        width: 100%;
        flex-grow: 1;
    }

}



