/*FONTS
TITLES - HIND MADURAI
QUOTES - CORMORANT
GENERAL - HIND SILIGURI*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Hind+Madurai&family=Hind+Siliguri&display=swap');

.welcome-block {
    margin: 0;
    text-align: center;
}

.welcome-block h2 {
    margin-bottom: 20px;
}

.welcome-block img {
    width: 80vw;
    filter: grayscale(20%);
}

.welcome-block figcaption {
    background-color: rgba(240, 240, 240, 0.2);
    color: #2d2d2d;
    position: absolute;
    width: 54vw;
    font-size: 2.5vw;
    font-family: 'Hind Madurai', sans-serif;
    text-align: left;
    top: 30vw;
    left: 14vw;
    padding: 20px 20px;
    backdrop-filter: blur(5px);
}

.get-started-button {
    position: relative;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 2.2vw;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all 0.5s;
    border: none;
    background: #FF740F;
    color: #F0F0F0;
    border-radius: 30px;
    overflow: hidden;
}

.get-started-button::before, .get-started-button::after {
    display: block;
    content: '';
    position: absolute;
    height: 2em;
    width: 2em;
    transition: all 0.8s;
    background-color: #7f3f98;
    border-radius: 100%;
    z-index: -1;
}

.get-started-button::before {
    top: -1.5em;
    left: -1.5em;
}

.get-started-button::after {
    bottom: -1.5em;
    right: -1.5em;
}

.get-started-button:hover {
    background-color: transparent;
}

.get-started-button:hover::before,
.get-started-button:hover::after {
    transform: scale(5.1);
}

.main-section::before {
    position: absolute;
    content: '';
    width: 100%;
    height: calc(100% + 300px);
    bottom: 0;
    left: 0;
    background-color: #A1BFC4;
    z-index: -1;
}

.main-section {
    position: relative;
    font-size: 20pt;
    background-color: #A1BFC4;
}

.main-section p {
    text-align: justify;
}

.goals-section h2 {
    text-align: center;
    padding: 2vw 10vw;
}

.goals-section {
    padding: 0 0 4vw 0;
}

.goals-box {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.goals-box figure {
    height: 32vw;
    width: 30vw;
    background-color: #0A3357;
    border-radius: 30px;
    overflow: hidden;
    text-align: center;
    box-shadow: 8px 8px #A1BFC4;
}

.goals-box figure:hover {
    box-shadow: none;
    transition: 0.6s;
    transform: translate(8px, 8px);
}

.goals-box figure h3 {
    margin: 0;
    font-size: 3.5vw;
}

.goals-box figcaption {
    padding: 20px;
}

.goals-box figure img {
    width: 100%;
    border-bottom: #F0F0F0 solid 2pt;
}

.learn-more {
    font-size: 14pt;
}

.learn-more a {
    color: #A1BFC4;
    text-decoration: none;
}

.learn-more a:hover {
    text-decoration: underline;
    color: #F0F0F0;
}

.partner img {
    width: 80px;
}

.partners-section {
    background: #FF740F;
    padding: 0 6vw 4vw 6vw;
}

.partners-section h2 {
    text-align: center;
    padding: 3vw 10vw;
}

.our-partners {
    position: relative;
    max-width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: minmax(300px, auto);
    grid-gap: 10px;
    grid-auto-flow: dense;
}

.partner-box {
    height: 100%;
    display: grid;
    place-items: center;
    background: #F0F0F0;
    transition: 0.5s;
}

.partner {
    padding: 30px;
    text-align: center;
}

.partner p {
    font-size: 20pt;
    text-align: center;
}

.partner-box:hover {
    background: #2d2d2d;
    color: #F0F0F0;
}

.partner-box:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
}

.partner-box:nth-child(2) {
    grid-row: span 2;
    grid-column: span 1;
}

.partner-box:nth-child(4) {
    grid-row: span 2;
    grid-column: span 1;
}

.partner-box:nth-child(5) {
    grid-row: span 1;
    grid-column: span 3;
}

@media screen and (max-width: 768px) {
    .welcome-block figcaption {
        text-align: center;
        color: white;
        width: 100%;
        position: static;
        font-size: 20pt;
        padding: 0;
        background: transparent;
    }

    .get-started-button {
        display: none;
    }

    .goals-box {
        flex-direction: column;
    }

    .goals-box figure {
        height: auto;
        width: 80%;
    }

    .goals-box figcaption {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        font-size: 14pt;
    }

    .goals-box figcaption h3 {
        font-size: 26pt;
    }

    .our-partners {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .partner-box {
        width: 100%;
    }

    .our-partners p {
        font-size: 16pt;
    }

}