@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

header {
    padding: 5px 20px 0 20px;
    margin: 0 0 10px;
    background-color: #FFFFFF;
    position: sticky;
    top: 0px;
    z-index: 10;
}

main {
    margin: 30px;
}

footer {
    margin: 10px;
}

.logo {
    float: left;
}

body {
    margin: 0;
    font-family: Arial, serif;
    font-size: 14pt;
    background-color: rgb(222, 239, 255);
    color: #0075aa;
    line-height: 150%;
}

h1 {
    font-size: 24pt;
    margin: 40px 0 20px 110px;
    font-family: 'Lato', sans-serif;
}

h1, h2 {
    color: #90191a;
}

h3 {
    color: #252967;
}

nav {
    margin: 0;
}

nav li {
    color: #8f191b;
    display: inline-block;
    padding: 10px;
    margin: 5px 30px;
}

nav a {
    color: #8f191b;
    text-decoration: none;
}

.welcome-quote {
    font-size: 11pt;
    color: #8f191b;
    font-family: 'Roboto', sans-serif;
}

a:visited {
    color: #862d0c;
}

a:hover {
    color: crimson;
}

p {
    text-align: justify; /* Выравнивание по ширине */
}

map ~ figcaption {
    font-size: 11pt;
    color: #628093;
}

.rules-quote {
    border: 5px double #ffffff;
    padding: 10px;
    width: 500px;
    text-align: center;
}

u > b {
    color: #5c1f83;
}

.rules > li {
    color: #844aa9;
}

dl dt {
    color: #252967;
}

dd i {
    color: #79c0ee;
}

.words-descriptions dd {
    display: list-item;
    list-style: square;
}

input::placeholder {
    color: #b9c2d5;
    padding-right: 3px;
    text-align: right;
}

input:focus {
    background: #f4f4ff;
}

.sign-up-page {
    margin-right: 50px;
    display: inline-grid;
}

form input {
    margin-left: 3%;
}

form legend {
    color: #8f191b;
    font-size: 16pt;
    font-weight: bold;
}

form label {
    font-weight: bold;
}

fieldset {
    background-color: white;
}


aside {
    background: #ffffff;
    padding: 0 15px 0 15px;
    display: inline-flex;
    width: 400px;
    float: right;
}



